body {
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
}
.information-banner {
    background-color: #3F3F3F;
}
.product-information {
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: auto;
    height: auto;
}
.product-information h6 {
    padding-bottom: 15px;
}
.product-image {
    text-align: center;
    padding-top: 10%;
}
.info-right {
    padding: 15% 15% 15% 0%;
}
    .info-right h1 {
        margin: 0;
    }
    .product-price {
        margin: 10px 0px;
    }
    .info-right label {
        font-size: 0.7rem;
        font-weight: 600;
    }
    .info-right span {
        font-size: 0.7rem;
        font-weight: 400;
    }
    .add-to-wishlist img {
        width: 25px;
        position: absolute;
        float: right;
        right: 5%;
    }

.product-colours label {
    padding: 7px;
}
    .product-colours label:checked {
        border: solid black 1px;
    }
    .product-colours label:hover {
        border: solid black 1px;
    }


.product-sizes {
    margin: 20px 0;
  }
  
  .product-sizes input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
  } 
  .product-sizes label {
      color: black;
      padding: 8px;
      border: solid 1.5px black;
      border-radius: 5px;
      margin-right: 10px;
      font-weight: 500;
  }
  .product-sizes label:hover {
    color: white;
    background-color: black;
    padding: 8px;
}

  .shipping-info {
      margin: 30px 0px;
  }
    .shipping-info p {
        color: black;
        font-size: 0.7rem;
        font-weight: 600;
    }

.show-more {
    color: black;
    font-size: 0.7rem;
    font-weight: 600;
}
.show-more:hover {
    color: rgba(0, 0, 0, 0.877);
    font-weight: 600;
}

.product-images {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: auto;
    height: 80vh;
}
    .img-1 {
        background-image: url(../images/kal-visuals-1.jpg);
        background-size: cover;
    }
    .img-2 {
        background-image: url(../images/conor-sheridan.jpg);
        background-size: cover;
        background-position-x: center;
    }
    .img-3 {
        background-image: url(../images/kal-visuals-2_WEB.jpg);
        background-size: cover;
    }

.product-details {
    background-color: #dfdfdf;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: auto;
    padding: 5%;
}
.product-details h5{
   color: black;
   font-weight: 400;
   font-size: 0.8rem;
   text-transform: uppercase;
   text-decoration: none;
   margin-bottom: 20px;

}
.feautures ul {
    margin-left: 0px;
    padding: 0px;
   
}
.feautures li {
    color: black;
    list-style-type: inherit;
    list-style: inside;
    margin: 5px;
}
.gore-tex-mark {
    font-weight: 600;
}





.product-performance {
    background-color: #f1f1f1;
    padding: 10% 18%;
}
.product-performance article {
    
    padding-bottom: 10%;
}
    .score-label {
        font-size: 0.7rem;
        margin: 10px 0px;
        font-weight: 600;
    }
    .score-label span {
        float: right;
    }
    .score-graph {
        background-color: #3F3F3F;
        padding: 5px;
        border-radius: 20px;
    }
    .seven {
        width: 180px;
    }
    .five {
        width: 120px;
    }



.filter {
    color: #3F3F3F;
    margin: 5%;
}
    .heading {
        display: inline;
    }
    .filter img {
        width: 22px;
        margin-right: 20px;
    }
    .filter article {
        border-bottom: solid 0.5px #3F3F3F;
        margin: 20px 40px;
        padding: 10px 0px;
    }
    .filter h3 {
        font-size: 1.5rem;
        font-weight: 500;
        color: #3F3F3F;
    }
    .filter h5 {
        font-weight: 600;
        text-decoration: none;
        color: #3F3F3F;
    }
    .filter form {
        padding: 25px 0;
    }
    .filter input {
        float: right;
    }
    .filter .checkmark {
        display: block;
        font-family: 'Open Sans', sans-serif;
        font-size: 0.8rem;
        font-weight: 500;
        padding: 7px 0;
        color: #3F3F3F;
    }
.reviews {
    margin-bottom: 5%;
}
    .reviews-headline {
        display: flex;
        justify-content: space-between;
        margin: auto auto;
        padding: 5% 5% 1% 5%;
    }
    .reviews-headline h3 {
        display: inline;
        margin-top: 15px;
    }
    .rating {
        display: inline-flex;
        margin: 15px 0;
        scale: 0.6;
        font-size: 1.4rem;
        font-weight: 600;
    }
    .rating img {
        margin-right: 20px;
    }
    .rating span {
        font-weight: 400;
    }
    .reviews-headline div {
        display: inline;
        float: right;
    }
    .reviews-table {
        margin: 0px 5%;
        padding: 0% 5%;
        box-shadow: 3px 3px 15px rgb(211, 211, 211);
        background-color: white;
        border-radius: 10px;
    }
    .table-cell {
        padding: 5% 0%;
        border-bottom: solid 0.5px #3F3F3F;
    }
    .table-cell-last {
        text-align: center;
        padding: 5% 0%;
    }
    .date {
        font-size: 0.7rem;
        margin: 10px 0px;
    }
    .customer-name {
        font-size: 1rem;
        font-weight: 600;
        margin: 10px 0px;
    }
    .customer-rating {
        width: 70px;
    }
    .table-cell p{
        width: 200px;
    }
    .helpful-link {
        float: right;
        margin-top: -30px;
    }
    .breadcrumb-menu {
        position: absolute;
    }

    @media only screen and (max-width: 900px) {
        .product-image img{
            margin-left: -3%;
            width: 200px;
            margin-top: 5%;
        }
        .product-information {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
        } 
        .info-right {
            padding: 5% 10%;
        }
        .product-details {
            background-color: #dfdfdf;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            padding: 5%;
        }
        .product-performance {
            padding: 5%;
        }
        .reviews-headline {
            display: grid;
        }
        .reviews-headline h3 {
            display: block
        }
        .reviews-headline div {
            display: none;
        }
        .reviews-table {
            margin: 0px 5%;
        }
        .table-cell {
            padding: 10% 0%;
            border-bottom: solid 0.5px #3F3F3F;
        }
        .helpful-link {
            display: block;
            float: left;
            margin-top: 0px;
        }
        .filter {
            margin: 3%;
        }
        .filter .product-sizes label{
            color: black;
            padding: 5px;
            border: solid 1.5px black;
            border-radius: 5px;
            margin-right: 10px;
            font-weight: 500;
            }  
    }