body {
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
}
.information-banner {
    background-color: #3F3F3F;
}
.product-information {
    padding-top: 2%;
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: auto;
}

.product-image {
    text-align: center;
}

.info-right h1 {
    margin: 0;
}
    .product-price {
        margin: 10px 0px;
    }
    .info-right label {
        font-size: 0.7rem;
        font-weight: 600;
    }
    .info-right span {
        font-size: 0.7rem;
        font-weight: 400;
    }

.product-colours label {
    padding: 7px;
}
    .product-colours label:checked {
        border: solid black 1px;
    }
    .product-colours label:hover {
        border: solid black 1px;
    }


.product-sizes {
    margin: 20px 0;
  }
  
  .product-sizes input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
  } 
  .product-sizes label {
      color: black;
      padding: 8px;
      border: solid 1.5px black;
      border-radius: 5px;
      margin-right: 10px;
      font-weight: 500;
  }
  .product-sizes label:hover {
    color: white;
    background-color: black;
    padding: 8px;
}

  .shipping-info {
      margin: 30px 0px;
  }
    .shipping-info p {
        color: black;
        font-size: 0.7rem;
        font-weight: 600;
    }

.show-more {
    color: black;
    font-size: 0.7rem;
    font-weight: 600;
}
.show-more:hover {
    color: rgba(0, 0, 0, 0.877);
    font-weight: 600;
}

.product-images {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: auto;
    height: 80vh;
}
.img-1 {
    background-image: url(../images/reykjavik_parrallax.jpg);
}