body {
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
}
header {
    background: white;
    color: rgb(0, 0, 0);
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    margin: 0;
    position: sticky;
  }
  nav, #hamburger {
    display: none;
  }
  
  #hamburger:checked ~ nav {
    display: block;
  }
  
  header {
    position: relative;
    height: auto;
  }
  nav {
    position: absolute;
    top: 40px;
    right: 0px;
    background: white;
    width: 100vw;
  }
  
  .hamburger-icon {
    position: absolute;
    right: 20px;
    top: 13px;
    scale: 1.8;
  }
  
  nav a {
    font-weight: 500;
    font-size: 1.1rem;
    color: black;
    text-decoration: none;
    display: block;
    margin: 20px;

  }
  nav div {
      display: inline;
      right: 0rem;
  }
  
  .nav-icons {
    display: inline-flex;
    width: 100px;
    justify-content: space-between;
    margin-right: 12px;
    margin-top: 10px;
  }

  .heart-icon {
      width: 21px;
  }

  .profile-icon, .cart-icon {
      width: 18px;
  }
  
  .information-banner {
    display: flex;
    justify-content: space-between;
    background-color: #1548F7;
    height: auto;
    width: auto;
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
}
  .information-banner p {
    font-weight: 500;
    font-size: 0.7rem;
    color: white;
    display: block;
  }


  @media(min-width: 750px){
    .hamburger-icon {
      display: none;
    }
    
    nav {
      display: block;
      position: static;
      background: none;
      width: 100vw;
    }
    
    nav a {
      display: inline;
    } 
  }
  @media only screen and (max-width: 900px) {
    .information-banner {
      display: block;
      padding: 2px;
    
}
    .searchbar {
      display: block;
      left: 5%;
    }
}

