body {
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: 0;
}
header {
    background: white;
    color: rgb(0, 0, 0);
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    margin: 0;
    position: sticky;
  }
  nav, #hamburger {
    display: none;
  }
  
  #hamburger:checked ~ nav {
    display: block;
  }
  
  header {
    position: relative;
    height: auto;
  }
  nav {
    position: absolute;
    top: 55px;
    right: 0px;
    background: white;
    width: 100vw;
  }
  
  .hamburger-icon {
    position: absolute;
    right: 30px;
    top: 30px;
    scale: 1.8;
  }
  
  nav a {
    font-weight: 600;
    font-size: 1.1rem;
    color: black;
    text-decoration: none;
    display: block;
    margin: 20px;
  }
  nav a:hover {
    color: rgb(90, 90, 90);
  }
  nav div {
      display: inline;
      right: 0rem;
  }
  
  .nav-icons {
    display: inline-flex;
    width: 130px;
    justify-content: space-between;
    margin-right: 20px;
    margin-top: 10px;
  }

  .heart-icon {
      width: 21px;
  }

  .profile-icon, .cart-icon {
      width: 18px;
  }
  .searchbar{
    padding: 15px;
  }
  .search-icon {
    width: 18px;
  }

  button {
    background-color: transparent;
    border: none;
    outline: inherit;
}
  input {
    background-color: transparent;
    border-bottom: solid black 1.5px;  
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 3px 12px;
    outline: inherit;
    font-weight: 300;
    font-size: 0.8rem;
    letter-spacing: 0.3px;
    color: rgb(131, 131, 131);
} 

.help-sidetag {
  position: fixed;
  right: 0;
  top: 40%;
  background-color: black;
  font-size: 0.8rem;
  color: white;
  padding: 15px;
  writing-mode: vertical-rl;
  text-orientation: mixed; 
  border-radius: 7px 0px 0px 7px;
  overflow-x: 0;
}
.help-sidetag:hover {
  background-color: black;
  font-size: 0.8rem;
  color: white;
  padding: 15px 20px 15px 15px;
 
}


.information-banner {
    display: flex;
    justify-content: space-between;
    background-color: #1548F7;
    height: auto;
    width: auto;
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
  }
.information-banner p {
    font-weight: 500;
    font-size: 0.7rem;
    color: white;
    display: block;
  }


@media(min-width: 750px){
    .hamburger-icon {
      display: none;
    }
    
    nav {
      display: block;
      position: static;
      background: none;
      width: 100vw;
    }
    
    nav a {
      display: inline;
    } 
  }
@media only screen and (max-width: 900px) {
    .information-banner {
      display: block;
      padding: 2px;
    
}
    .searchbar {
      display: block;
      left: 5%;
    }
}
    .herotop {
      height: 80vh;
      width: 100vw;
      background-image: url("../images/herotop.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      text-align: center;
      padding-top: 8%;
} 

    .herotop h1 {
      font-size: 4.2rem;
      color: white;
      height: 30px;
    }

    .herotop p {
      font-family: 'Open Sans', sans-serif;
      font-weight: 500;
      font-size: 1.3rem;
      color: white;
      padding: 20px;
    }

    .container {
      padding: 3% 5%;
    }

    h1 {
      font-weight: 700;
      font-size: 2rem;
    }

    h2 {
      font-weight: 700;
      font-size: 2.2rem;
    }

    .new-items h3 {
      font-family: 'Open Sans', sans-serif;
      font-weight: 500;
      font-size: 1.5rem;
      color: rgb(36, 36, 36);
    }

    h3 {
      font-weight: 700;
      font-size: 1.7rem;
    }

    h4 {
      font-family: 'Open Sans', sans-serif;
      font-weight: 500;
      font-size: 1.2rem;
    }
    h5 {
      font-weight: 500;
      font-size: 1rem;
      text-decoration: underline;
      color: white;
      margin: 0;
    }
    h6 {
      font-weight: 600;
      font-size: 1rem;
      text-align: left;
      margin: 10px 0px;
    }
    p {
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      font-size: 0.7rem;
    }
    .price {
      float: right;
      text-align: right;
      font-weight: 400;
      font-size: 0.9rem;
      margin: 0px 5px;
    }

.new-items {
      padding: 4% 5%;
    } 
    #newitem-1, #newitem-2, #newitem-3, #newitem-4 {
      width: 300px;
    }
    .products{
      display: grid;
      grid-gap: 2rem;
      min-height: 400px;
      grid-template-columns: repeat(auto-fill, minmax(300px, 4fr));
      grid-template-rows: auto;
    }
    .products > div {
      background-color: white;
    }

    .cta-wishlist {
      float: right;
      margin-right: 80px;
    }
    .cta-wishlist img{
      position: absolute;
      width: 20px;
      margin: 0px 20px;
      background-color: white;
      padding: 15px 10px 10px 10px;
      
    }
    .product-colours {
      margin: 10px 5px;
    }
    
    .product-colours input[type="radio"] {
      opacity: 0;
      position: fixed;
      width: 0;
    }
    .product-colours label {
        display: inline-block;
        padding: 5px;
        font-size: 10px;
        border-radius: 50%;
        margin-right: 7px;
    }

    .colour-yellow {
      background-color: #FED800;
    }
    .colour-khaki {
      background-color: #5E5900;
    }
    .colour-red {
      background-color: #D62F15;
    }
    .colour-purple {
      background-color: #95A0F8;
    }
    
    .radio-inline:hover {
      padding: 6px;
    }
    .radio-inline:checked {
      padding: 6px;
    }

    .product-colours span {
      font-size: 0.7rem;
      padding: 5px;
    }

.parrallax {
      height: 50vh;
      background-image: url(../images/reykjavik_parrallax.jpg);
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .stories-wrapper {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(400px, 4fr));
      grid-template-rows: auto;
      grid-gap: 1rem;
      min-height: 250px;
      padding-top: 10px;
    }
    .stories-item > h6 {
      text-align: left;
    }
    .stories-img {
      height: 200px;
      border-radius: 15px;
      box-shadow: 1px 2px 12px #c9c9c9;
    }

    footer {
      background-color: #3F3F3F;
      padding-top: 0%;
      
    }
    .footer {
      display: grid;
      grid-template-columns: 40% 15% 15% 15% 15%;
      background-color: #3F3F3F;
    }
    footer .card ul, li, a {
      list-style: none;
      text-decoration: none;
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      font-size: 0.8rem;
      color: white;
      padding: 2px 0px;
    }
    footer .card ul, li, a:hover {
      color: rgba(255, 255, 255, 0.664); 
    }
    footer #logo2{
      width: 120px;
      margin-bottom: 30px;
    } 
    footer .bottomtext {
      text-decoration: none;
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      font-size: 0.7rem;
      color: white;
      padding: 0px 0px;
    }
    footer .card label {
      font-weight: 600;
      font-size: 0.8rem;
      color: white;
      display: block;
      padding-bottom: 10px;
    }
    footer .card input {
      background-color: transparent;
      padding: 8px 12px;
      border: solid rgba(255, 255, 255, 0.836) 1px; 
      border-radius: 8px;
      outline: inherit;
      margin-right: 3px;
      font-weight: 500;
      font-size: 0.6rem;
      letter-spacing: 0.3px;
      color: rgba(255, 255, 255, 0.836);

    }
    footer #newsletter button{
      background-color: transparent;
      font-weight: 600;
      font-size: 0.6rem;
      color: white;
      padding: 7px 14px;
      border: solid white 2px; 
      border-radius: 8px;
      outline: inherit;
      margin: 2px;
    }
    #copyright {
      margin-top: 0; 
      margin-bottom: 0;
      color: rgb(202, 202, 202);
    }
    .cta-button-white {
      display: inline-block;
      background-color: white;
      width: 200px;
      padding: 10px 0px;
      border-radius: 7px;
      text-align: center;
      text-decoration: none;
      font-weight: 600;
      font-size: 0.8rem;
      color: black;
      margin: 2px;
      -webkit-box-shadow: 1px 0px 5px 1px rgba(0,0,0,0.14);
      -moz-box-shadow: 1px 0px 5px 1px rgba(0,0,0,0.14);
      box-shadow: 1px 0px 5px 1px rgba(0,0,0,0.14);
      border: solid 2px white;
    }
    .cta-button-white:hover {
      color: white;
      background-color: transparent;
      border: solid 2px white;
    }
    .cta-button-black-outline {
      display: inline-block;
      width: 200px;
      padding: 10px 0px;
      border-radius: 7px;
      text-align: center;
      text-decoration: none;
      font-weight: 600;
      font-size: 0.8rem;
      color: white;
      background-color: black;
      margin: 2px;
      border: solid 2px black;
    }
    .cta-button-black-outline:hover {
      color: black;
      background-color: transparent;
    }
    .cta-button-blue {
      display: block;
      background-color: #1548F7;
      width: 200px;
      padding: 10px 0px;
      border-radius: 7px;
      text-align: center;
      text-decoration: none;
      font-weight: 600;
      font-size: 0.8rem;
      color: white;
      border: solid 2px #1548F7;
    }
    .cta-button-blue:hover {
      border: solid 2px #1548F7;
    }
    .cta-button-black {
      display: block;
      background-color: black;
      width: 200px;
      padding: 10px 0px;
      border-radius: 7px;
      text-align: center;
      text-decoration: none;
      font-weight: 600;
      font-size: 0.8rem;
      color: white;
      border: solid 2px black;
    }
    .cta-button-black:hover {
      border: solid 2px black;
    }
    .hyperlink {
      color: black;
      font-weight: 600;
      margin-right: 25px;
      padding-bottom: 2px;
      border-bottom: solid 1.5px black;
    }
    .hyperlink:hover{
      color: #1548F7;
      border-bottom: solid 1.5px #1548F7;
    }
    .inputfield-headline {
      font-weight: 700;
      font-size: 1.2rem;
    }
    .breadcrumb-menu {
      left: 5%;
    }
    ul.breadcrumb {
      padding: 10px 16px;
      list-style: none;
    }
    ul.breadcrumb li {
      display: inline;
      font-size: 0.8rem;
      font-weight: 600;
      color: black;
      text-transform: uppercase;
    }
    ul.breadcrumb li+li:before {
      padding: 5px;
      color: black;
      content: "/\00a0";
    }
    ul.breadcrumb a {
      font-weight: 400;
      font-size: 0.8rem;
      color: black;
      text-transform: uppercase;
    }
    ul.breadcrumb a:hover {
      text-decoration: underline;
    }


@media only screen and (max-width: 980px) {

  .herotop {
      height: 60vh;
  } 
  #stitem-2, #stitem-3 {
      display: none;
  }
  .footer {
  display: grid;
  grid-template-columns: auto;
  text-align: center;
  padding-top: 6vh;
  }
  #newsletter, #men, #women, #logo2 {
  display: none;
  }
  #copyright {
  text-align: center;
  margin-top: 5vh; 
  margin-bottom: 2vh;
  }
  #some {
  margin-bottom: 5vh;
}
@media only screen and (max-width: 450px) {
  .herotop {
      height: 80vh;
      background-position: center;
      padding-top: 6%;
  } 
  .herotop h1 {
      margin-bottom: 15px;
      height: auto;
  }
  .herotop p {
      padding: 20px;
  }
  .cta-button-white {
  margin-bottom: 10px;
  }
  .products{
      grid-template-columns: auto;
      padding: 5% 8% 5% 5%;
  }
  #newitem-2, #newitem-3, #newitem-4 {
      display: none;
  }  

  .parrallax {
      height: 80vh;
      background-position: left;
  }
  .parrallax .container {
     padding-top: 5vh;
  }
  .stories-wrapper {
      grid-template-columns: auto;
      padding-top: 0px;
      margin: auto auto;
  }
  #stitem-1 > img {
      scale: 0.92;
      margin-left: -2%;
  }
  h3 {
      text-align: left;
  }
  .stories-item > h6 {
      text-align: center;
      font-weight: 500;
      font-size: 1.1rem;
      margin: 5px 5px;
  }
  #stitem-2, #stitem-3 {
      display: none;
  }
  .help-sidetag {
    display: none;  
  }
}
}